<% content_for :title do %>Home<% end %>

<% content_for :slider do %>

	<!-- Content Slider -->

	<div class="row">
	<div class="large-12 hide-for-small">

	  <div id="featured" data-orbit>
	      <img src="http://lorempixel.com/1170/500/nightlife/4/" alt="slide image">
	      <img src="http://lorempixel.com/1170/500/nightlife/5/" alt="slide image">
	      <img src="http://lorempixel.com/1170/500/nightlife/6/" alt="slide image">
	  </div>

	</div>
	</div>

	<!-- End Content Slider -->

	<!-- Mobile Header -->

	<div class="row">
	<div class="large-12 columns show-for-small">

	  <img src="http://lorempixel.com/1170/500/nightlife/6/">

	</div>
	</div>
	<br>

	<!-- End Mobile Header -->

<% end %>

<% content_for :sidebar do %>
	<h3 class="subheader">Tweets</h3>
	<p>...</p>
<% end %>

<h3>Home</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

<blockquote>Those people who think they know everything are a great annoyance to those of us who do.<cite>Isaac Asimov</cite></blockquote>